.form_wrapper{
    width: 100%;
    position: relative;
}
.form{
    width: 50%;
    margin: 0 auto;
    font-size: 14px;
    background: grey;
    color: azure;
    padding: 10px;
    display: table;
}

#forgot_password_form{
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: aliceblue;
    color: black;
    height: 150px;
    border-radius: 10px;
}

.form_group {
    box-sizing: border-box;
    margin-bottom: 10px;
    display: table;
}
.title_input{
    width: 140px;
    display: inline-block;
    font-weight: bold;
}
.form_input{
    height: 25px;
}

#select_gender{
    display: flex;
}
.btn_regist{
    margin-right: 10px;
    width: auto;
}
.link1{
    color: blue;
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
    .form{
        width:100%;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 301px) and (max-width: 600px) {
    .form{
        width:100%;
        box-sizing: border-box;
    }

    .form_input {
        width: 100%;
        height: 30px;
    }
    .btn_regist{
        width: 100%;
        height: 40px;
        margin: 0px 0px 10px 0px;
    }
}

@media only screen and (max-width: 300px) {
    .form{
        width:100%;
        box-sizing: border-box;
    }

    .title_input {
        width: 100%;
        display: block;
    }

    .form_input {
        width: 100%;
        height: 30px;
    }
    .btn_regist{
        width: 100%;
        height: 40px;
        margin: 0px 0px 10px 0px;
    }
}