/*
CSS Credit: http://www.templatemo.com/
*/

/* 
Book Store Template 
http://www.templatemo.com/preview/templatemo_086_book_store 
*/
body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Verdana, Arial, san-serif;
	font-size: 14px;
	color: #ffffff;
	background-image: url(../images/bgr_body.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

a:link, a:visited { color: #e6e154; text-decoration: none; font-weight: bold;} 
a:active, a:hover { color: #e6e154; text-decoration: underline;}

p {
	margin: 0px;
	padding: 0px;
}
.blank_page{
	height: 280px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.error{
	color: #ff9a00;
	font-style: italic;
	display: inline-block;
}
.active{
	color: #fff !important;
    border-bottom: 1px solid #fff;
}
.message_alert{
	width: auto;
    height: 20px;
    z-index: 1;
    bottom: 10px;
    left: 10px;
    border-radius: 10px;
	text-shadow: 2px 1px #00040a;
    transition: 0.5s;
    cursor: pointer;
    font-size: 16px;
    position: fixed;
    padding: 10px 20px;
    line-height: 20px;
}
.success{
	background-color: #00bd4ff2;
    border-left: 5px solid #178344;
}

.warning{
	background-color: #ff0c00b0;
    border-left: 5px solid #8f130c;
}

.form_input{
	height: 25px;
}

.btn
{
    background: #cbc750;
    border: none;
    width: 100px;
    font-weight: bold;
    color: black;
    display: block;
	margin: 0px 10px 10px 0px;
}

.btn_green{
	background: green;
    padding: 10px;
    float: left;
    width: auto;
}

.btn_red{
	background: red;
    padding: 10px;
    float: left;
    width: auto;
}

.btn_submit{
	width: auto;
    padding: 10px;
    background: #1276e2 !important;
    color: #fff !important;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}
.product_not_found{
	width: 100%;
}
.avatar_input{
	float: left;
    width: 70%;
    box-sizing: border-box;
}

.user_avatar{
	width: 100%;
	height: auto;
}

.cleaner {
	clear: both;
	width: 100%;
	height: 1px;
	font-size: 1px;	
}

.cleaner_with_height {
	clear: both;
	width: 100%;
	height: 30px;
	font-size: 1px;	
}

.cleaner_with_width {
	float: left;
	width: 20px;
	height: 30px;
	font-size: 1px;	
}

.buy_now_button a{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background: url(../images/templatemo_btn_02.jpg) no-repeat;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.detail_button a{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background: url(../images/templatemo_btn_01.jpg) no-repeat;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#templatemo_container{
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	background: #1c1c1b url(../images/templatemo_bg.jpg) repeat-y;
}


/* menu */

#templatemo_menu {
	clear: both;
	width: 960px;
	height: 45px;
	background: url(../images/templatemo_menu_bg.jpg) no-repeat;
}

#templatemo_menu #menu_desktop {
	padding: 13px 0 0 0;
	margin: 0;
	list-style: none;
}

#templatemo_menu #dropdown{
	display: none;
}

#templatemo_menu #menu_desktop li{
	display: inline;
}

#templatemo_menu #menu_desktop li a{
	float: left;
	padding: 0 20px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

#templatemo_menu li a:hover, #templatemo_menu li .current{
	color: #fcf88e;
}

.language{
	width: 50px;
	float: right;
	font-size: 18px;
}
#lang_dropdown{
	z-index: 1;
    position: absolute;
    background-color: #fff;
    font-size: 13px !important;
    padding: 5px;
    box-sizing: border-box;
    list-style: none;
	border-radius: 5px;
}
#lang_dropdown li {
    margin-bottom: 10px;
}

/* end of menu*/

/* header */
#templatemo_header {
	clear: both;
	width: 960px;
	height: 285px;
	padding: 0;
	margin: 0;
	background: url(../images/bgr1.jpg) no-repeat;
	background-size: cover;
	position: relative;
}

#website_info{
	width: auto;
    top: 20%;
    left: 50%;
    position: absolute;
    text-align: center;
}
#website_name{
	font-family: Kaushan Script;
	font-weight:400;
	font-size: 5em;
}

#slogant_web{
	font-size: 20px;
    padding-top: 35px;
}

#templatemo_header a,a:hover {
	color: #ffffff;
}

#templatemo_header #templatemo_special_offers {
	float: left;
	font-size: 14px;	
	margin-top: 95px;
	margin-left: 490px;
	width: auto;
}

#templatemo_special_offers a {
	font-size: 12px;
}

#templatemo_special_offers  p {
	margin: 0 0 20px 0;
}
#templatemo_special_offers p span {
	font-size: 18px;
}

#templatemo_header #templatemo_new_books {
	float: left;
	margin-top: 90px;	
	margin-left: 55px;
	width: 180px;
}

#templatemo_new_books ul {
	 margin: 0 0 10px 0;
	 padding: 0 0 0 20px;
}

#templatemo_new_books li {
	 margin: 0;
	 padding: 0; 
}


/* end of header */


/* content */
#templatemo_content {
	clear: both;
	width: 920px;
	padding: 0 20px;
}

#templatemo_content #templatemo_content_left {
	float: left;
	width: 188px;
	padding: 10px;
	background-color: #171716;
	border: 1px solid #212120;
}

#templatemo_content #templatemo_content_right {
	float: right;
	width: 670px;
}


#templatemo_content_left .templatemo_content_left_section{
	clear: both;
	padding-bottom: 10px;
	border-bottom: 1px solid #2b2b2a;
	margin-bottom: 20px;
}

.templatemo_content_left_section h1 {
	font-size: 14px;
	color: #cbc750;
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px dotted #cbc750;
}

.templatemo_content_left_section ul {
	padding: 0;
	margin: 0;
}

.templatemo_content_left_section ul li{
	padding: 0 0 3px 10px;	
	list-style: none;
}

.templatemo_content_left_section ul li a{
	font-weight: normal;
	text-decoration: none;
	color: #969547;
}

.templatemo_content_left_section li a:hover, .templatemo_content_left_section li .current{
	color: #fcf88e;
}

#templatemo_content_right .templatemo_product_box {
	float: left;
	width: 303px;
	height: auto;
	padding: 10px;
	border: 1px solid #333;
	margin-bottom: 20px;
}

#templatemo_content_right .templatemo_product_box:hover {
	box-shadow: rgb(239 219 219 / 10%) 0px 0px 20px;
	z-index: 1;
	background: rgb(239 219 219 / 10%);
}

.templatemo_product_box:nth-child(2n+1)
{
	margin-right: 20px;
}

#templatemo_content_right h1 {
	padding: 10px;
	margin: 0 0 20px 0;
	font-size: 15px;
	color: #cbc750;
	background: url(../images/templatemo_h1_bg.jpg);
}

#templatemo_content_right h2 {
	padding: 0 0 0 0;
	margin: 0 0 20px 0;
	font-size: 12px;
	color: #e6e154;
}

#templatemo_content_right h3 {
	padding: 0;
	margin: 0 0 20px 0;
	font-size: 18px;
	color: #85391f;
}

#templatemo_content_right ul {
	margin: 0 0 20px 0;
	padding: 0 0 0 20px;
	list-style: none;
}

#templatemo_content_right li {
	padding: 0 0 3px 0;
}

#templatemo_content_right .image_panel {
	float: left;
	width: 100px;
	margin-right: 20px;
	background: #fff;
    margin-right: 20px;
    padding: 10px;
}

#templatemo_content_right p {
	text-align: justify;
	padding: 0 0 8px 0;
}

.templatemo_product_box h1 span {
	font-weight: normal;
}

.box_content {
    width: 100%;
    box-sizing: border-box;
}
.product_box {
    width: 100%;
    box-sizing: border-box;
	display: table;
}

.product_cart{
	border-bottom: 1px solid;
	margin-bottom: 20px;
}

.content_bar{
	padding: 10px;
    margin: 0 0 20px 0;
    font-size: 15px;
    color: #cbc750;
    display: table;
    width: 100%;
	box-sizing: border-box;
    background: url(../images/templatemo_h1_bg.jpg);
}

.title_content{
	width: 30%;
    float: left;
    box-sizing: border-box;
}

.title_bar{
	font-weight:bold;
}

.filter_form{
	width:70%;
	float: left;
	box-sizing: border-box;
	text-align: right;
}

.box_img {
    width: 100px;
    display: table;
    box-sizing: border-box;
    float: left;
    margin: 0px 20px 0px 0px;
}

.box_avatar{
	width: 30%;
	margin: 0;
}

.box_img img {
	float: left;
	width: 100%;
}

.templatemo_product_box .product_info {
	float: left;
	width: 180px;
}

.product_info p {
	margin-bottom: 15px;
}

.no_rating:hover{
	color: yellow !important;
}

.rating{
	margin-bottom: 5px;
	color: yellow;
}

.pagination_bar {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    position: relative;
}

.pagination {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pagination li {
    margin-left: 10px;
    border: 1px solid;
    padding: 0px 10px !important;
    background: black;
}

.order_bar{
	border: 1px solid;
    width: 100%;
    float: left;
    box-sizing: border-box;
    display: table;
    background: aliceblue;
    color: black;
    border-radius: 10px;
	padding: 10px;
}

.order_bar_left{
	width: 70%;
    box-sizing: border-box;
    padding: 0 !important;
    margin: 0 !important;
    float: left;
}
.price{
	color: chocolate;
    font-size: 20px;
    font-weight: bold;
}
.total_price{
	font-size: 20px;
	font-weight: bold;
	color: red;
}
.order_bar_right{
	width: 30%;
    float: left;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

select#rating_filter{
    color: yellow !important;
    font-weight: 900;
}
.input_filter{
	margin-bottom: 10px;
}
/* end of content */

/* footer */
#templatemo_footer {
	clear: both;
	width: 960px;
	padding: 20px 0px 20px 0;
	text-align: center;
	border-top: 1px solid #25211e;
	color: #999;
	background-color: #111110;
}

#templatemo_footer a{
	color: #fff;
	font-weight: normal;
}
/* end of footer */

/* Loading css */
.background_loading{
	width: 50%;
    height: 200px;
    z-index: 1;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	display: none;
}

.progress-3 {
	width:120px;
	height:20px;
	border-radius: 20px;
	background:
	 repeating-linear-gradient(135deg,#f03355 0 10px,#ffa516 0 20px) left/0%   100% no-repeat,
	 repeating-linear-gradient(135deg,#ddd    0 10px,#eee    0 20px) left/100% 100%;
	animation:p3 2s infinite;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  @keyframes p3 {
	  100% {background-size:100% 100%}
  }
/* Loading css */

/* Loading 2 */
@keyframes ldio-kuo96gb6c4 {
	0% { transform: rotate(0) }
	100% { transform: rotate(360deg) }
  }
  .ldio-kuo96gb6c4 div { box-sizing: border-box!important }
  .ldio-kuo96gb6c4 > div {
	position: absolute;
	width: 144px;
	height: 144px;
	top: 28px;
	left: 28px;
	border-radius: 50%;
	border: 16px solid #000;
	border-color: #fe718d transparent #fe718d transparent;
	animation: ldio-kuo96gb6c4 1s linear infinite;
  }
  .ldio-kuo96gb6c4 > div:nth-child(2) { border-color: transparent }
  .ldio-kuo96gb6c4 > div:nth-child(2) div {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
  }
  .ldio-kuo96gb6c4 > div:nth-child(2) div:before, .ldio-kuo96gb6c4 > div:nth-child(2) div:after { 
	content: "";
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	top: -16px;
	left: 48px;
	background: #fe718d;
	border-radius: 50%;
	box-shadow: 0 128px 0 0 #fe718d;
  }
  .ldio-kuo96gb6c4 > div:nth-child(2) div:after { 
	left: -16px;
	top: 48px;
	box-shadow: 128px 0 0 0 #fe718d;
  }
  .loadingio-spinner-dual-ring-w43m9acj56m {
	width: 200px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
	background: none;
  }
  .ldio-kuo96gb6c4 {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
  }
  .ldio-kuo96gb6c4 div { box-sizing: content-box; }
/* Loading 2 */

/* dialog */
#dialog{
    z-index: 10;
    top: 50%;
    left: 50%;
    border: 1px solid;
    position: fixed;
    transform: translate(-50%, -50%);
    background: #fff;
    color: black;
    padding: 20px;
}
/* Css for tablet */
@media only screen and (min-width: 601px) and (max-width: 1000px) {
	
	#templatemo_container{
		width: 100%;
		padding: 0;
	}

	#templatemo_menu{
		width: 100%;
		height: 45px;
	}

	#lang_dropdown{
		right: 0;
	}
	
	#templatemo_header{
		width: 100%;
    	height: 250px;
	}

	#website_info {
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	#website_name{
		font-size: 14vw;
	}

	#slogant_web{
		font-size: 5vw;
		padding-top: 8vw;
	}

	#templatemo_content {
		width: 100%;
		padding: 0;
	}
	
	#templatemo_content #templatemo_content_left {
		width: 25%;
		padding: 10px 0px;
		box-sizing: border-box;
	}

	#templatemo_content #templatemo_content_right {
		width: 70%;
	}

	#templatemo_content_right .templatemo_product_box {
		width: 100%;
		height: auto;
		padding: 10px 0px;
	}

	.box_img {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}

	.templatemo_product_box .product_info {
		width: 50%;
		float: left;
		box-sizing: border-box;
		padding: 0px 0px 0px 10px;
	}

	.product_description{
		width: 50%;
		float: left;
		box-sizing: border-box;
	}

	.cleaner{
		clear: none;
	}

	#templatemo_footer {
		width: 100%;
	}
}

/* Css for smartphone */
@media only screen and (min-width: 301px) and (max-width: 600px) {
	
	#templatemo_container{
		width: 100%;
		padding: 0;
	}

	#templatemo_menu{
		width: 100%;
		height: auto;
	}

	#lang_dropdown{
		right: 0;
	}

	#templatemo_menu #menu_desktop{
		display: none;
	}
	
	#templatemo_menu #dropdown{
		display: block;
	}

	#menu_dropdown{
		z-index: 1;
		position: relative;
		background: url(../images/templatemo_menu_bg.jpg);
		background-size: cover;
	}

	.btn_show_menu
	{
		font-size: 8vw;
	}
	
	#templatemo_header{
		width: 100%;
    	height: 250px;
	}

	#website_info {
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	#website_name{
		font-size: 14vw;
	}

	#slogant_web{
		font-size: 5vw;
		padding-top: 8vw;
	}

	#templatemo_content {
		width: 100%;
		padding: 0;
	}
	
	#templatemo_content #templatemo_content_left {
		width: 100%;
		padding: 10px 0px;
		box-sizing: border-box;
	}

	#templatemo_content #templatemo_content_right {
		width: 100%;
	}

	#templatemo_content_right .templatemo_product_box {
		width: 100%;
		height: auto;
		padding: 10px 0px;
		box-sizing: border-box;
	}

	.box_img {
		width: 45%;
		height: 100%;
	}

	.templatemo_product_box .product_info {
		width: 45%;
	}

	#templatemo_footer {
		width: 100%;
	}

	#dialog{
		width: 80%;
	}
}

/* Css for mini smartphone */
@media only screen and (max-width: 300px) {
	
	#templatemo_container{
		width: 100%;
		padding: 0;
	}

	#templatemo_menu{
		width: 100%;
		height: auto;
	}
	
	#lang_dropdown{
		right: 0;
	}

	#templatemo_menu #menu_desktop{
		display: none;
	}
	
	#templatemo_menu #dropdown{
		display: block;
	}

	#menu_dropdown{
		z-index: 1;
		position: relative;
		background: url(../images/templatemo_menu_bg.jpg);
		background-size: cover;
	}

	.btn_show_menu
	{
		font-size: 8vw;
	}
	
	#templatemo_header{
		width: 100%;
    	height: 250px;
	}

	#website_info {
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	#website_name{
		font-size: 14vw;
	}

	#slogant_web{
		font-size: 5vw;
		padding-top: 8vw;
	}

	#templatemo_content {
		width: 100%;
		padding: 0;
	}
	
	#templatemo_content #templatemo_content_left {
		width: 100%;
		padding: 10px 0px;
		box-sizing: border-box;
	}

	#templatemo_content #templatemo_content_right {
		width: 100%;
	}

	#templatemo_content_right .templatemo_product_box {
		width: 100%;
		height: auto;
		padding: 10px 0px;
	}
	
	.info_product{
		width:100%;
		padding: 0 0 0 0px !important;
	}

	.box_img {
		width: 100%;
		margin-bottom: 10px;
	}
	
	.image_panel{
		width: 100% !important;
	}

	.image_panel img{
		width: 100%;
	}

	.templatemo_product_box .product_info {
		padding: 0px 10px;
		width: 90%;
	}

	#templatemo_footer {
		width: 100%;
	}

	#dialog{
		width: 80%;
	}
}